.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* cao hơn mọi thành phần khác */
}

.addModal {
  background: #fff;
  padding: 24px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  animation: fadeIn 0.25s ease;
  display: block !important;
}

.modal.open {
  display: block !important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95);}
  to   { opacity: 1; transform: scale(1);}
}



.modal h3 {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.preview-img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
